* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: grey;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 640px;
  height: 640px;
  margin: auto;
  perspective: 1000px;
}
.card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20%;
}
.front {
  transform: rotateY(180deg);
}
.visible {
  visibility: visible;
}

.match {
  opacity: 75%;
}

.unmatch {
  visibility: visible;
}

.disabled {
  pointer-events: none;
}
