.card {
  font-size: 50px;
  border: 5px black solid;
  cursor: pointer;
}

.visible {
  visibility: visible;
}

.match {
  visibility: collapse;
}

.unmatch {
  visibility: visible;
}

.disabled {
  pointer-events: none;
}
